<#include "/system/include.html" encoding="UTF-8" parse=true/>
<!DOCTYPE html>
<html lang="zh">
<head>
	<!-- 引入样式css -->
	<@commoncss title='添加打印标签模板'/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-post-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">模板名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="templateName" id="templateName" style="display: none;" required>
					<input class="select2 form-control" type="text" id='moban' href='/labelPrint/template/getUserAuthenTemplate' inputMessage="请输入或选择打印模板" >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">模板编码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" placeholder="模板编号请先注册模板权限系统获取编码" name="templateId" id="templateId"  readonly="true" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">打印宽度：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" placeholder="单位-毫米 默认100mm" name="width" id="width" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">打印高度：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" placeholder="单位-毫米 默认100mm" name=height id="height" required>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">打印标签：</label>
				<div class="col-sm-8">
				 	 <input class="form-control" type="text" style="display: none;" id='codeName' name="codeName"  required />
				     <input class="select2 form-control" id='biaoqian' type="text" href='/labelPrint/template/getAllCode' inputMessage="请输入或选择打印标签" required>
				     </input>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">标签code：</label>
				<div class="col-sm-8">
				     <input class="form-control" type="text"   id='code' name="code" readonly="true"  readonly="true" required>
				     </input>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">扩展参数：</label>
				<div class="col-sm-8">
					 <input class="form-control" type="text"  id='extendData' name="extendData" />
				</div>
			</div>
			
			<div class="form-group" id='isDefault'>
				<label class="col-sm-3 control-label">是否绑定：</label>
				<div class="col-sm-8">
					<div class="radio-box">
						<div class="iradio-blue"><input type="radio" id="6" name="isDefault" value="0" checked="checked" /></div>
						<label for="6" class="">绑定</label>
					</div>
					<div class="radio-box">
						<div class="iradio-blue"><input type="radio" id="7" name="isDefault" value="1"/></div>
						<label for="7" class="">不绑定</label>
					</div>
				</div>
			</div>
			<div class="form-group" id='status' style="display: none;">
				<label class="col-sm-3 control-label">使用状态：</label>
				<div class="col-sm-8">
					<div class="radio-box">
						<div class="iradio-blue"><input type="radio" id="6" name="status" value="0" checked="checked" /></div>
						<label for="6" class="">正常</label>
					</div>
					<div class="radio-box">
						<div class="iradio-blue"><input type="radio" id="7" name="status" value="1"/></div>
						<label for="7" class="">停用</label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">模板在线：</label>
				<div class="col-sm-8">
				     <a  class="form-control"  id ="thistemplateUrl" title="预览查看标签" href="javascript:void(0);" style="color:red;" target="_blank" > 未上传打印模板 </a>
				     <a  class="btn btn-info btn-xs" style="text-align:right; float:right;" href="javascript:void(0);" onclick="importTemplate();"> <i class="fa fa-upload"></i> 导入模板  </a> 
				</div>
					<input class="form-control" type="text"   id='templateUrl' name="templateUrl" style="display: none;" ></input>
			</div> 
			
		</form>
	</div>
		<!-- 引入通用js -->
	<@commonjs/>
	<!-- js -->
	<script src="${request.contextPath}/js/admin/labeltemplate.js"></script>
	
	<script  type="text/javascript">
	
		var prefix = ctx + "/template";
		
		$("#form-post-add").validate({
			onkeyup: false,
        	rules:{
	        	 code:{ 
	        		 required: true
	        	 },
	        	 height:{digits:true},
	        	 width:{digits:true},
	        	 isDefault:{
					 remote: {
				                url: prefix + "/checkCodeBindTemplateUnique", //校验字段唯一
				                type: "post",
				                dataType: "json",
				                async: false,
				                data: {
					                	"templateId":function(){return $("#templateId").val()},
					                	"code": function() {
					                		//return $("input[name='regionCode']").val(); //取出办公室简码
					                		return $.common.trim( $("#code option:checked").text())
					                    },
					                    "isDefault":function(){return $("input[name='isDefault']:checked").val()}
				                	
				                      },
                    			 dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
                	                 return $.validate.unique(data); // 判断返回标识是否唯一 1->false 不存在   0->true 存在
                               }
						     }
                }
        	},
        	messages: {
        		code :"请输入业务code",
        		isDefault:"业务code已经默认绑定了其它模板！"
            },
            focusCleanup: true
			
		});
		
		function submitHandler() {
			 if ($.validate.form()) {
				//var param = $('#form-post-add').serialize();
				var param = $.common.formToJSON('form-post-add');
				console.log(param);
				if($.common.isEmpty(param.code)){
					$.modal.msgError('业务code不能为空！');
					return;
				}
				labeltemplate.saveorupdatetemplate(prefix + "/saveorupdateTempalte",param);
				 
			 }
	    }
		
		function selected(data,id){
			if('moban'==id){
				$("#templateId").val(data.id);
				$("#templateName").val(data.text);
			}else if('biaoqian'==id){
				$("#code").val(data.id);
				$("#codeName").val(data.text);
			}
		}
		
		$(function() {
			  labeltemplate.select2('moban',null,selected);
			  labeltemplate.select2('biaoqian',null,selected);
			 //labeltemplate.initCode2(prefix+'/getAllCode',null,null);
			 
			  var options={
			   		    importTemplateUrl: prefix + "/importTemplate",
				        exportTemplateUrl: prefix + "/exportTemplate",
				        modalName: "打印模板",
				     };
		      $.table.init(options);
		});
		
		//导入模板回调
		var importTemplateCallback  = function importTemplateCallback(result){
			if(result.status=="200"){
				var url = result.data;
				$("#thistemplateUrl").attr('href',url.downloadUrl);
				$("#thistemplateUrl").html(url.fileName);
				$("#thistemplateUrl").removeAttr("style");
				$("#templateUrl").val(url.templateUrl);
			}						
			
		}
		 //初始化导入
	     function importTemplate(){
			 labeltemplate.importrepx('importTpl',importTemplateCallback);
	     }
		
	</script>
	
	 <!-- 导入区域 -->
   <script id="importTpl" type="text/template">
   <form id="importTemplateForm" enctype="multipart/form-data" class="mt20 mb10">
   	<div class="col-xs-offset-1">
   		<input type="file" id="file" name="file" value="选择数据文件"/>
   		<div style="display:none;" class="mt10 pt5">
   			<input  type="checkbox" id="updateSupport" name="updateSupport" title="如果模板已经存在，更新这条数据。"> 是否更新已经存在的模板数据
   			 &nbsp;	<a style="display:none;" onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
   		</div>
		<div id='file-list-display'></div>
   		<font color="red" class="pull-left mt10">
   			提示：仅允许导入“repx”格式文件！
   		</font>
   	</div>
   </form>	
  </script>
	
</body>
</html>
