<#include "/system/include.html" encoding="UTF-8" parse=true/>
<#include "/system/common.html" encoding="UTF-8" parse=true/>
<!DOCTYPE html>
<html lang="zh">
<head>
<!-- 引入样式css -->
<@commoncss title='空运标签'/>
</head>
<!-- body -->
<body class="gray-bg">
 <div class="container-div">
	   <div class="row">
		  <div class="col-sm-12 search-collapse">
			<!--form表单数据搜索条件筛选区域-->
			<form id='searchForm' class="form-horizontal center-vertical" role="form">
				<input type="text" id="code" name="code" value="${code!''}" style="display: none;"/>
				<!--空 运标签 查询条件筛选区域-->
		     	<div class="select-list">
		     	  <ul>
		     	  	 <li>
		     	  	 	<label>主单号：</label>
		     	  	 	<textarea rows="1" class="easyui-textbox" data-options="multiline:true" name="mawb" id="mawb"></textarea>
		     	  	 </li>
		     	  	 <li>
		     	  	 	<label>分单号：</label>
		     	  	 	<input type="text" id="hawb" class="easyui-textbox" name="hawb" maxlength="13">
		     	  	 </li>
		     	  	 <li>
		     	  	 	<label>件数：</label>
		     	  	 	<input type="number" class="easyui-numberbox" id="total" name="total">
		     	  	 </li>
		     	  	 <li>
		     	  	 	<label>录入时间：</label>
		     	  	 		<input type="text" id="startTime"  placeholder="开始时间" name="params[startTime]"/>
								<span>-</span>
							<input type="text" id="endTime"  placeholder="结束时间" name="params[endTime]"/>
		     	  	 </li>
		     	  	 <li>
		     	  	 	<label>航班日期：</label>
		     	  	 	<input id="flightDate" type="text" name="flightDate"/>
		     	  	 </li>
		     	  	 <li>
		     	  	 	<label>起始地：</label>
		                <select class="select2"  type="select" id="airportDeparture"  name="airportDeparture" href="/labelPrint/client/getRegion" inputMessage="请输入地址简码" style="height: 30px; width: 158px;">
		                </select>
		     	  	 </li>
		     	  	 <li>
		     	  	 	<label>目的地：</label>
		                <select class="select2" type="select"  id="destination"  name="destination"   href="/labelPrint/client/getRegion" inputMessage="请输入地址简码" style="height: 30px; width: 158px;">
		                </select>
		     	  	 </li>
		     	  	 <li>
		     	  	 	<label>打印：</label>
		     	  	 	<select  type="select" id="isPrint" name="isPrint" style="width: 158px;">
												<option value="0" selected="selected">未打印</option>
												<option value="1">已打印</option>
					    </select>
		     	  	 </li>
		     	  	 <li>
		     	  	 	<label>录入操作：</label>
		     	  	 	<input type="text" placeholder="请选择"  autocomplete="off" value="全部"   id="opidName" name="opidName" />
		     	  	 </li>
		     	  	 <@shiro.hasPermission  name="auth">
		     	  	 <li><input type="text" style="display: none"/></li>
		     	  	 </@shiro.hasPermission>
		     	  </ul>
		     	 </div>
		     	
			</form>
    </div>
     
		<!--表格数据展示区域-->
		<div class="col-sm-12 select-table table-striped">
			<table id="easyui-datagrid"></table>
		</div>
		
	<!-- rows 结束 -->
  </div>
  
  <!-- container结束 -->
</div>
 
 
 <!-- 订阅窗口 隐藏 -->
	<div id="subscribeDialog" style="display: none;">
		<div id="sr">
			<div class="easyui-panel" title="新增主单号订阅" style="width: 100%">
				<form id="srForm" method="post" class="form-horizontal center-vertical" action="../../subscribe/add">
					<div class="col-md-3 col-xs-6" style="padding: 5px 0">
						<label for="srMawb" class="col-md-3 control-label" title="MAWB">MAWB:</label>
						<div class="col-md-9">
							<textarea rows="1" class="form-control easyui-validatebox" data-options="required:true" name="srMawb" id="srMawb" style="height: 34px;"></textarea>
						</div>
					</div>
					<div class="col-md-3 col-xs-6" style="padding: 5px 0">
						<label for="srHawb" class="col-md-3 control-label" title="MAWB">HAWB:</label>
						<div class="col-md-9">
							<textarea rows="1" class="form-control" name="srHawb" id="srHawb" style="height: 34px;"></textarea>
						</div>
					</div>
					<div class="col-md-3 col-xs-6" style="padding: 5px 0">
						<label for="srEmail" class="col-md-3 control-label" title="Email">Email:</label>
						<div class="col-md-9">
							<input class="form-control" name="srEmail" id="srEmail" value=${Session["userInfo"].email!'XX@bondex.com.cn'} disabled="disabled"/>
						</div>
					</div>
					<div class="col-md-3 col-xs-6" style="padding: 5px 0">
						<label for="srUser" class="col-md-3 control-label" title="MAWB">订阅人:</label>
						<div class="col-md-9">
							<input class="form-control" name="srUser" id="srUser" value=${Session["userInfo"].psnname!'admin'} disabled="disabled"/>
							<input type="text" id="srOpid" value= ${userInfo.opid!'0000'} style="display: none;"/>
						</div>
					</div>
				</form>
				<div style="text-align: center; padding: 5px 0">
					<button class="btn btn-primary" onclick="subscribe.submitForm()" style="width: 80px; background-color: #ec971f; color: #fff;">订阅</button>
					<button class="btn btn-primary" onclick="subscribe.clearForm()" style="width: 80px; background-color: #5bc0de; color: #fff;">重置表单</button>
				</div>
			</div>
		</div>
		<div style="height: 100%; width: 100%;">
			<table id="srDg"></table>
		</div>
	</div>
	
<!--引用公共按钮操作模块-->
<!--datagrid引入操作按钮区域 -->
<@airLabeltoolbar/>

<!-- 引入修改办公室弹框 -->
<@selectRegion/>

	
<!--更新数据页面-->
<div id="dd4" style="display: none; padding: 15px;">
	<form class="form-horizontal" role="form" style="margin-top: 20px;" id="updateform" action="/labelPrint/label/update">
		<input type="text" hidden="true" id="label_id" name="label_id">
		<div class="form-group  has-success col-sm-6">
			<label class="col-sm-2 control-label">MAWB:</label>
			<div class="col-sm-10">
				<input class="form-control" id="MAWB1" name="mawb" disabled="disabled" type="text">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label for="inputPassword" class="col-sm-2 control-label"> HAWB: </label>
			<div class="col-sm-10">
				<input class="form-control" id="HAWB1" name="hawb" type="text" maxlength="13">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label for="disabledTextInput" class="col-sm-2 control-label">件数: </label>
			<div class="col-sm-10">
				<input class="form-control" id="total1" type="text" name="total" disabled="disabled">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label for="disabledSelect" class="col-sm-2 control-label">起始地: </label>
			<div class="col-sm-10">
				<input class="form-control" id="airportDeparture1" type="text" name="airportDeparture" disabled="disabled">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label class="col-sm-2 control-label" for="inputSuccess">目的地:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="destination1" name="destination" disabled="disabled">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label class="col-sm-2 control-label" for="inputWarning">状态:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="is_print1" name="isPrint" disabled="disabled">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label class="col-sm-2 control-label" for="inputWarning">入库时间:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="createTime" name="createTime" disabled="disabled">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label class="col-sm-2 control-label" for="inputWarning">打印时间 :</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="reserve2" name="reserve2" disabled="disabled">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label class="col-sm-2 control-label" for="inputWarning">航班日期 :</label>
			<div class="col-sm-10">
				<!-- <input type="text" class="form-control" id="flightDate" name="flightDate" disabled="disabled"> -->
				<input type="text" class="form-control" name="flightDate" disabled="disabled">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label class="col-sm-2 control-label" for="inputWarning">打印人 :</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="printUser" name="printUser" disabled="disabled">
			</div>
		</div>
		<div class="form-group has-success col-sm-6">
			<label class="col-sm-2 control-label" for="inputWarning">当前模版:</label>
			<div class="col-sm-10">
				<input id="reserve3" name="reserve3" style="width: 100%;">
			</div>
		</div>
		<div class="form-group col-md-12 col-sm-10">
			<button type="button" class="btn btn-info btn-lg btn-block" onclick="label.update()">保存</button>
		</div>
	</form>
</div>

</body>

	<!-- airlabel js -->
		<!-- 引入通用js -->
	<@commonjs/>
	<!-- 空运标签js -->
	<script src="${request.contextPath}/js/airlabel/airlabel.js"></script>
	<!-- 订阅js -->
	<script src="${request.contextPath}/js/airlabel/subscribe.js"></script>
	
	<script  type="text/javascript">
	
	var code = "${code!''}";
	sessionstorage.set('code',code);
	
	$(function () {
		//var thisOpid =  ${userInfo.opid};
	    var buttons = $.extend([], $.fn.datetimebox.defaults.buttons);
	    buttons.splice(2, 0, {
	    	text: '清空',
	    	handler: function(target){
	    		$(target).datebox('setValue','');
	    	}
	    });
	    var buttons1 = $.extend([], $.fn.datebox.defaults.buttons);
	    buttons1.splice(1, 0, {
	    	text: '清空',
	    	handler: function(target){
	    		$(target).datebox('setValue','');
	    	}
	    });
	
		$(document).ready(function(){
			  $("body").keydown(function(){
				  if (event.keyCode == 49&&event.ctrlKey) {  
					  label.search();
		          } 
			  });
		});
		$("form :input[type='text']").change(function(){
			if ($(this).val()!="") {
				$(this).css('background-color','#FFFFBB');
			}else {
				$(this).css('background-color','white');
			}
		});
		$("form :input[type='text']").focus(function(){
			if ($(this).val()!="") {
				$(this).select();
			}
		})
	
		$('#flightDate').datebox({
			editable:false,
			buttons:buttons1
		});	
		$('#startTime').datetimebox({  
			width:110,
		    required : false,  
		    editable:false,
		    buttons:buttons,
		    onShowPanel:function(){  
		        $(this).datetimebox("spinner").timespinner("setValue","00:00:00");  
		    },
		    onChange: function(newValue, oldValue){
		    	//label.search();
		    }  
		});
		$('#endTime').datetimebox({
			width:110,
		    required : false,  
		    editable:false,
		    buttons:buttons,
		    onShowPanel:function(){
		        $(this).datetimebox("spinner").timespinner("setValue","23:59:59");  
		    },
		    onChange: function(newValue, oldValue){
		    	//label.search();
		    }   
		});
		
		
	});



	/*
	* 关闭遮罩层
	*/
	function closemask() { 
		$("#Loading").fadeOut("normal", function () { 
			$(this).remove(); 
		}); 
	} 
	var pc; 
	$.parser.onComplete = function () { 
	if (pc){
		clearTimeout(pc);
	} 
		pc = setTimeout(closemask, 10); 
	}
	
	/* layer 选择下拉框表格展示 */
	var tableSelect = layui.tableSelect;
	tableSelect.render({
		elem: '#opidName',	//定义输入框input对象 必填
		checkedKey: 'opidName', //表格的唯一建值，非常重要，影响到选中状态 必填
		searchKey: 'opidName',	//搜索输入框的name值 默认keyword
		searchPlaceholder: '操作号/名称关键词搜索',	//搜索输入框的提示文字 默认关键词搜索
		table: {	//定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
		url: '/labelPrint/client/getOpidName',
		cols: [[
			{ type: 'radio' },
			{ field: 'opid', title: '操作号' },
			{ field: 'opidName', title: '操作姓名' }
		]]
		},
		done: function (elem, data) {
			var NEWJSON = [];
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.opidName)
			})
			elem.val(NEWJSON.join(","));
		}
	})
	
</script>
	
	

 </html>