<#include "/system/include.html" encoding="UTF-8" parse=true/>
<!DOCTYPE html>
<head>
	<!-- 引入样式css -->
	<@commoncss title='修改用户'/>
	
</head>
<body>
    <div class="main-content">
        <form class="form-horizontal" id="form-user-edit">
            <input name="id"  type="hidden" value="${user.id!''}" />
            <input name="defaultRegion" type="hidden" id="treeId" value="${user.defaultRegion!''}"/>
            
            <h4 class="form-header h4">基本信息</h4>
          <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>用户名称：</label>
                        <div class="col-sm-8">
                            <input name="opidName" placeholder="请输入用户名称" class="form-control" type="text" maxlength="30" value="${user.opidName!''}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>打印办公室：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                            	<input name="regionName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择打印办公室" class="form-control" value="${user.parentName!''}/${user.regionName!''}" readonly="true"  required>
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>操作ID：</label>
                        <div class="col-sm-8">
                            <input id="opid" name="opid" placeholder="请输入操作ID" class="form-control" type="text" maxlength="11" value="${user.opid!''}" required>
                        </div>
                    </div>
                </div>
                
                 <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用户状态：</label>
                        <div class="col-sm-8">
                            <label class="toggle-switch switch-solid">
	                            <input type="checkbox" id="type" checked>
	                            <span></span>
	                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
       			 <@shiro.hasAnyPermissions name="${code}.btn-add">
            	<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
         		</@shiro.hasAnyPermissions>
       			 <@shiro.hasAnyPermissions name="${code}.btn-realod">
           		 <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
         		</@shiro.hasAnyPermissions>
        </div>
    </div>
<!-- 引入通用js -->
	<@commonjs/>
	<script src="${request.contextPath}/js/admin/user.js"></script>
	<script  type="text/javascript">
        var prefix = ctx + "/user";
        
     	if('${user.type}'=='1'){
       	 	$("input[id='type']").attr('checked',false);
     	}
        
        $("#form-user-edit").validate({
             	onkeyup: false,
             	rules:{
             		opid:{
                         remote: {
                             url: prefix + "/checkOpidUnique",
                             type: "post",
                             async: false, //同步加载
                             dataType: "json",
                             data: {
                                 "opid": function () {
                                     return $.common.trim($("#opid").val());
                                 }
                             },
                             dataFilter: function (data, type) {
                             	return $.validate.unique(data); //判断返回标识是否唯一 1->false 存在不通过     0->true 不存在通过
                             }
                         }
             		},
             	},
             	messages: {
             		"opid":{
                     	remote: "操作ID已经存在"
             		}
                 },
                 focusCleanup: true
             });
        
        
        function submitHandler() {
	        	var data = $("#form-user-edit").serializeArray();
	        	var type = $("input[id='type']").is(':checked') == true ? 0 : 1;
	        	var roleIds = $.form.selectCheckeds("role");
	        	var postIds = $.form.selectSelects("post");
	        	data.push({"name": "type", "value": type});
	        	user.saveOrupdateUser(prefix + "/saveOrupdateUser", data);
	    }

        /*用户管理-修改-选择部门树*/
        function selectDeptTree() {
			var treeId = $("#treeId").val();
        	var region_code = $.common.isEmpty(treeId) ? "chengdu" : treeId;
        	var url = ctx + "/region/selectregionTree/" + region_code;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowParents(tree)) {
    			var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
			}
		}

		$(function() {
            
        })
    </script>
</body>
</html>