<!-公共操作模块-->
<#macro airLabeltoolbar>
	<!--datagrid操作按钮区域 -->
	<div id="toolbar" style="width: 100%"  class="btn-group-sm"  role="group">
	
		<div class="btn-group" style="float: right; background-color: #F5F5F5; width: 100%;">
		
		 <@shiro.hasPermission  name="AirPrintLabel.label-search"> 
			<button type="button" class="btn btn-default" onclick="label.search();">
				<span class="glyphicon glyphicon-search"></span> 查询(ctrl+1)
			</button>
		  </@shiro.hasPermission>
		  
		  <@shiro.hasPermission  name="AirPrintLabel.label-print"> 
			<button type="button" class="btn btn-default" onclick="label.labelPrint()">
				<span class="glyphicon glyphicon-print"></span> 打印
			</button>
		  </@shiro.hasPermission>
		 	
		  <@shiro.hasPermission  name="AirWaybillBooking.Index.Import"> 
			<button type="button" class="btn btn-default" onclick="label.labelExport()">
				<span class="glyphicon glyphicon-share"></span> 导出标签
			</button>
		  </@shiro.hasPermission>
		  
		  <@shiro.hasPermission  name="AirWaybillBooking.Index.Edit">
			<button type="button" class="btn btn-default" onclick="label.save();" id='saveButton'>
				<span class="glyphicon glyphicon-floppy-disk"></span> 保存
			</button>
		  </@shiro.hasPermission>
		  
			<button type="button" class="btn btn-default" onclick="label.rejectChange();" id='rejectButton'>
				<span class="glyphicon glyphicon-share-alt"></span> 撤销
			</button>
			
		  <@shiro.hasPermission  name="AirWaybillBooking.Index.Delete">
			<button type="button" class="btn btn-default" onclick="label.labelDelete();">
				<span class="glyphicon glyphicon-remove"></span> 删除
			</button>
		  </@shiro.hasPermission>
			<button type="button" class="btn btn-default" onclick="label.refresh(true)">
				<span class="glyphicon glyphicon-refresh"></span> 刷新表单
			</button>
			<button type="button" class="btn btn-default" onclick="subscribe.initWindow()">
				<span class="glyphicon glyphicon-envelope"></span> 订阅
			</button>
			<button type="button" class="btn btn-default" onclick="alert('')">
				<span class="glyphicon glyphicon-bell"></span> 帮助
			</button>
			<@shiro.hasPermission  name="AirWaybillBooking.Index.AddHouse">
			<button type="button" class="btn btn-default" onclick="label.alertprint()">
				<span class="glyphicon glyphicon-map-marker"></span> <b style="color: red; font-size: 14" id="quyu">设置打印/办公室</b>
			</button>
			 </@shiro.hasPermission>
		</div>
	 </div>
	
</div>
</#macro>

<#macro paiangtoolbar>
	<!--datagrid操作按钮区域 -->
	<div id="toolbar" style="width: 100%"  class="btn-group-sm"  role="group">
	
		<div class="btn-group" style="float: right; background-color: #F5F5F5; width: 100%;">
		
			
		 	<@shiro.hasPermission  name="PaiangPrintLabel.label-search">
			<button type="button" class="btn btn-default" onclick="paiang.search();">
				<span class="glyphicon glyphicon-search"></span> 查询(ctrl+1)
			</button>
		  	</@shiro.hasPermission>
		  	
		  	
		  	<@shiro.hasPermission  name="PaiangPrintLabel.label-print">
			<button type="button" class="btn btn-default" onclick="paiang.tableprint()">
				<span class="glyphicon glyphicon-print"></span> 打印
			</button>
			</@shiro.hasPermission>
			
			<button type="button" class="btn btn-default" onclick="paiang.labelExport()">
				<span class="glyphicon glyphicon-share"></span> 导出标签
			</button>
			
			<button type="button" class="btn btn-default" onclick="paiang.save();" id='saveButton'>
				<span class="glyphicon glyphicon-floppy-disk"></span> 保存
			</button>
			
			<button type="button" class="btn btn-default" onclick="paiang.rejectChange();" id='rejectButton'>
				<span class="glyphicon glyphicon-share-alt"></span> 撤销
			</button>
			
			<button type="button" class="btn btn-default" onclick="paiang.deletedata();">
				<span class="glyphicon glyphicon-remove"></span> 删除
			</button>
			
			<button type="button" class="btn btn-default" onclick="paiang.securityReload();">
				<span class="glyphicon glyphicon-refresh"></span> 刷新表单
			</button>
			<button type="button" class="btn btn-default" onclick="subscribe.initWindow()">
				<span class="glyphicon glyphicon-envelope"></span> 订阅
			</button>
			<button type="button" class="btn btn-default" onclick="alert('该功能暂未上线')">
				<span class="glyphicon glyphicon-bell"></span> 帮助
			</button>
			
			<button type="button" class="btn btn-default" onclick="paiang.alertprint()">
				<span class="glyphicon glyphicon-map-marker"></span> <b style="color: red; font-size: 14" id="quyu">设置打印/办公室</b>
			</button>
			
		</div>
	 </div>
	
</div>

</#macro>

<#macro modal>

	<!-- opids模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">账户切换</h4>
				</div>
				<div class="modal-body">
					<table id="opid_table">
						<caption class="text-center" style="color: red">双击选择操作号</caption>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 搜索框（Modal） -->
	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
				</div>
				<div class="modal-body">在这里添加一些文本</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">提交更改</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	
	
</#macro>


<#macro selectRegion>
	
	<!--修改办公区域弹窗页面-->
	<div id="region" style="display: none; margin-top: 10px;">
		
		  <blockquote class="text-success" style="display: none; padding-bottom: 10px;width: 100%;" id="xunwen">
			<h3>是否每次点击打印都询问(登出后失效)</h3>
			<p style="padding-bottom: 10px;" id="xunwenprint">
				<input type="radio" value="yes" name="xunwen" checked='checked'><a>询问</a>
				<input type="radio" value="no" name="xunwen"><a>不询问</a>
			</p>
		  </blockquote>
		  <blockquote class="text-success" style="display: none;padding-bottom: 10px;width: 100%;" id="mqaddress">
			<h3>设置发送内网/外网(登出后失效)</h3>
			<p style="padding-bottom: 10px;" id="xunwenprint">
				<input type="radio" value="outnet" name="mqaddress" checked='checked'><a>默认发送外网</a>
				<input type="radio" value="vpnnet" name="mqaddress"><a>发送VPN内网</a>
			</p>
		  </blockquote>
		  <blockquote class="text-success" style="display: none; padding-bottom: 10px;width: 100%;" id="bgs">
				<h3>设置默认/临时办公室</h3>
				<p style=" padding-bottom: 10px;" id="bgsradio">
					<p><input type="radio" value="ls" name="bgs" checked='checked'><a>临时办公室(登出后失效)</a></p>
					<p><input type="radio" value="mr" name="bgs"><a>默认办公室(永久绑定)</a></p>
				</p>
		</blockquote>
		<blockquote class="text-success" style="padding-bottom: 10px;width: 100%;" id="treebgs">		
			 <h3>选择打印办公室</h3>
			<p style="margin-top: 5px;padding-bottom: 10px;">
			<!--下拉菜单-->
			<input id="cc" style="width: 100%; height: 35px;">
			</p>
		</blockquote>
		
		<div class="form-group col-md-12 col-sm-10" style="display: none;" id="dyan">
			<button type="button" class="btn btn-danger btn-lg btn-block" onclick="dialogPrint()">立即打印</button>
		</div>
		
		<div class="form-group col-md-12 col-sm-10" style="display: none;" id="xgmr">
			<button type="button" class="btn btn-success btn-lg btn-block" onclick="dialogUpdateOrAddRegion()">确认更改</button>
		</div>
		<div class="form-group col-md-12 col-sm-10">
			<button type="button" class="btn btn-primary btn-lg btn-block" onclick="dialogClose()">取消关闭</button>
		</div>
		
	</div>
		

</#macro>
