<!-- 通用CSS title参数 可以多个-->
<#macro commoncss title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>${title!'标签打印'}</title>
	<link rel="shortcut icon" type="image/x-icon" href="${request.contextPath}/img/printer.ico">
	<!-- easyUi样式 -->
	<link rel="stylesheet" href="${request.contextPath}/easyui/themes/material/easyui.css"/>
	<link rel="stylesheet" href="http://www.jeasyui.com/demo/main/sidemenu_style.css"/>
	<!--bootStrap CSS  -->
	<!-- 
	<link rel="stylesheet" href="${request.contextPath}/adminlte/plugins/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="${request.contextPath}/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	 -->
	<link rel="stylesheet" href="${request.contextPath}/css/bootstrap.min.css"/>
	<!-- Select2 -->
	<link rel="stylesheet" href="${request.contextPath}/ajax/libs/select2/css/select2.min.css"/>
	<link rel="stylesheet" href="${request.contextPath}/ajax/libs/select2/css/select2-bootstrap.css"/>
	
	<!-- BootStrap-Select 下拉框  css -->
	<link rel="stylesheet" href="${request.contextPath}/ajax/libs/bootstrap-select/bootstrap-select.min.css"/>
	
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.css"/>
	<link rel="stylesheet" href="${request.contextPath}/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="${request.contextPath}/css/animate.css"/>
	<link rel="stylesheet" href="${request.contextPath}/adminlte/dist/css/AdminLTE.min.css"/>
	<link rel="stylesheet" href="${request.contextPath}/bower_components/Ionicons/css/ionicons.min.css"/>
	<link rel="stylesheet" href="${request.contextPath}/adminlte/dist/css/ionicons.min.css"/>
	<link rel="stylesheet" href="${request.contextPath}/easyui/themes/icon.css"/>
	<link rel="stylesheet" href="${request.contextPath}/adminlte/dist/css/skins/_all-skins.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
	<!-- bootstrap-table 表格插件样式 -->
	<link rel="stylesheet" href="${request.contextPath}/bootstrap-table-develop/dist/bootstrap-table.min.css"/>
	<link rel="stylesheet" href="${request.contextPath}/adminlte/plugins/bootstrap-editable/css/bootstrap-editable.css"/>
	<link rel="stylesheet" href="${request.contextPath}/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css"/>
	
	
	<!--- jquery-confirm css-->
	<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.css"/>
	<link rel="stylesheet" href="${request.contextPath}/css/jquery.contextMenu.min.css"/>
	
	<!-- layer css -->
	<link rel="stylesheet" href="${request.contextPath}/layer/layui/css/layui.css"/>
	<link rel="stylesheet" href="${request.contextPath}/layer/layui/css/modules/layer/default/layer.css"/>
	<link rel="stylesheet" href="${request.contextPath}/layer/layui/css/modules/layer/moon/style.css"/>
	
	<!-- 自定义样式 -->
	<link rel="stylesheet" href="${request.contextPath}/css/style.css"/>
	<link rel="stylesheet" href="${request.contextPath}/css/skins.css"/>
	<link rel="stylesheet" href="${request.contextPath}/css/ry-ui.css"/>
</#macro>

<!-- 通用JS -->
<#macro commonjs>
	<!-- jQuery  -->
	<script src="${request.contextPath}/jquery/jquery.min.js"></script>
		<!-- Bootstrap 3.3.7 -->
	<script src="${request.contextPath}/jquery/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="${request.contextPath}/adminlte/dist/js/adminlte.min.js"></script>
	<script src="${request.contextPath}/adminlte/dist/js/app.js"></script>
	<script src="${request.contextPath}/adminlte/plugins/fastclick/fastclick.js"></script>
	<!-- Slimscroll -->
	<script src="${request.contextPath}/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<script src="${request.contextPath}/adminlte/plugins/datepicker/bootstrap-datepicker.js"></script>
	<!-- bootstrap-table 表格插件 -->
	<script src="${request.contextPath}/bootstrap-table-develop/dist/bootstrap-table.min.js"></script>
	<script src="${request.contextPath}/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="${request.contextPath}/bootstrap-table-develop/dist/extensions/mobile/bootstrap-table-mobile.js"></script>
	<script src="${request.contextPath}/bootstrap-table-develop/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
	<script src="${request.contextPath}/bootstrap-table-develop/dist/extensions/columns/bootstrap-table-fixed-columns.js"></script>
	<script src="${request.contextPath}/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
	
	<!-- bootstrap-treetable  -->
	<script src="${request.contextPath}/ajax/libs/bootstrap-treetable/bootstrap-treetable.js"></script>
	
	<!-- BootStrap-Select 下拉框 -->
	<script src="${request.contextPath}/ajax/libs/bootstrap-select/bootstrap-select.min.js"></script>
	
	 <!-- Select2下拉 -->
	<script src="${request.contextPath}/ajax/libs/select2/js/select2.full.min.js"></script>
	<script src="${request.contextPath}/ajax/libs/select2/js/i18n/zh-CN.js"></script>
	
	<!-- easyui数据表格 -->
	<script type="text/javascript" src="${request.contextPath}/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/easyui/locale/easyui-lang-zh_CN.js"></script>
	
	<!-- jquery-validate 表单验证插件 -->
	<script src="${request.contextPath}/jquery-validate/jquery.validate.min.js"></script>
	<script src="${request.contextPath}/jquery-validate/messages_zh.js"></script>
	<script src="${request.contextPath}/jquery-validate/jquery.validate.extend.js"></script>
	<script src="${request.contextPath}/jquery-validate/additional-methods.min.js"></script>
	<script src="${request.contextPath}/jquery-validate/validateForm.js"></script>
	<script src="${request.contextPath}/jquery-validate/messages_zh.js"></script>
	<!--jquery-confirm-->
	<script src="https://cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.js" type="text/javascript"></script>
	
	<!-- 遮罩层 -->
	<script src="${request.contextPath}/ajax/libs/blockUI/jquery.blockUI.js"></script>
	<!-- layer插件 -->
	<script src="${request.contextPath}/layer/layui/layui.all.js"></script>
	<script src="${request.contextPath}/layer/layer.js"></script>
	<!--  layer 下拉表格插件-->
	<script src="${request.contextPath}/layer/tableSelect.js"></script>
	<!-- Tool.js -->
	<script src="${request.contextPath}/js/tool.js"></script>
	<!-- ruoyi-common.js -->
	<script src="${request.contextPath}/js/ry-ui.js?v=4.1.0"></script>
	<script src="${request.contextPath}/js/common.js?v=4.1.0"></script>
	<script type="text/javascript"> var ctx = "/labelPrint"; </script>
</#macro>
	
<!-- ztree树插件 -->
<#macro ztreecss>
    <link rel="stylesheet" href="${request.contextPath}/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" />
</#macro>

<#macro ztreejs>
    <script src="${request.contextPath}/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
</#macro>

