<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>标签打印</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link rel="stylesheet" href="bootstrap-table-develop/dist/bootstrap-table.css">
<link rel="stylesheet" type="text/css" href="../labelPrint/easyui/themes/material/easyui.css" />
<link rel="stylesheet" type="text/css" href="../labelPrint/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/demo/main/sidemenu_style.css" />
<link rel="stylesheet" href="../labelPrint/css/style.css">
<link rel="stylesheet" href="/labelPrint/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css">
<!-- 解决bootstrap、easyui样式冲突 -->
<style type="text/css">
.jz {
	text-align: center;
	vertical-align: middle;
}

/*datagrid无数据提示居中*/
.datagrid-td-merged {
	text-align: center;
}

.accordion {
	border-width: 0px;
}

.btn {
	border: 0px solid transparent;
}

.datagrid-editable-input {
	color: black;
}
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="wrapper">
		<header class="main-header">
			<a href="/" class="logo"> <span class="logo-mini"><b>标签</b></span> <span class="logo-lg"><b>标签打印</b></span>
			</a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <!-- The user image in the navbar--> <img src="dist/img/user-2.png" class="user-image" alt="User Image"> <!-- hidden-xs hides the username on small devices so only the image appears. --> <span class="hidden-xs" th:text="${session.userInfo.psnname}"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header"><img src="dist/img/user-2.png" class="img-circle" alt="User Image">
									<p th:text="${session.userInfo.email}">
										<small>Member since Nov. 2012</small>
									</p></li>
								<!-- Menu Body -->
								<li class="user-body">
									<div class="row">
										<div class="col-xs-6 text-center" id="top_username"></div>
										<div class="col-xs-6 text-center" id="top_opid"></div>
									</div>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a data-toggle="modal" data-target="#myModal" class="btn btn-default btn-flat" id="qhczh">切换操作号</a>
									</div>
									<div class="pull-right">
										<a href="logout" class="btn btn-default btn-flat">退出登录</a>
									</div>
								</li>
							</ul>
						</li>
						<!-- Control Sidebar Toggle Button -->
						<li onclick="setBgs();"><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="dist/img/user-2.png" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p th:text="${session.userInfo.psnname}"></p>
						<!-- Status -->
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<div id="sm" style="width: 300px"></div>
				<!-- Sidebar Menu -->
				<!-- 			<ul class="sidebar-menu" data-widget="tree">
					<li id='bqdy' style="display: none;"><a target="menuFrame" href="layout/west/label/" onclick="qh('标签打印');"><i class="fa fa-print"></i> <span>标签打印-空运</span></a></li>
					<li id='bqdyPa'><a target="menuFrame" href="layout/west/label" onclick="qh('标签打印-派昂医药');"><i class="fa fa-print"></i> <span>标签打印-派昂医药</span></a></li>
					<li id='xtgl1' style="display: none;"><a href="layout/west/system" target="xtgl" onclick="qh('系统管理');"><i class="fa fa-gear"></i> <span>系统管理</span></a></li>
				</ul> -->
			</section>
		</aside>

		<div class="content-wrapper" style="height: 50px;">
			<div id="tt" class="easyui-tabs" style="width: 500px; height: 250px;">
				<div title="主页" style="padding: 20px; display: none;"><h2>欢迎使用标签打印系统</h2></div>
			</div>

			<iframe id="menuFrame" name="menuFrame" style="overflow: visible; display: none;" scrolling="yes" frameborder="no" height="100%" width="100%" onload=""></iframe>
			<iframe id="xtgl" name="xtgl" src="layout/west/system" style="overflow: visible; display: none;" scrolling="yes" frameborder="no" height="100%" width="100%" onload=""></iframe>
		</div>
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<!-- <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i
						class="fa fa-home"></i></a></li> -->
				<!-- 	<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
						class="fa fa-gears"></i></a></li> -->
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Home tab content -->
				<div class="tab-pane" id="control-sidebar-home-tab">
					<h3 class="control-sidebar-heading">Recent Activity</h3>
					<ul class="control-sidebar-menu">
						<li><a href="javascript:void(0)"> <i class="menu-icon fa fa-birthday-cake bg-red"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

									<p>Will be 23 on April 24th</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i class="menu-icon fa fa-user bg-yellow"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

									<p>New phone +1(800)555-1234</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

									<p>nora@example.com</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i class="menu-icon fa fa-file-code-o bg-green"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

									<p>Execution time 5 seconds</p>
								</div>
						</a></li>
					</ul>
					<!-- /.control-sidebar-menu -->

					<h3 class="control-sidebar-heading">Tasks Progress</h3>
					<ul class="control-sidebar-menu">
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Custom Template Design <span class="label label-danger pull-right">70%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Update Resume <span class="label label-success pull-right">95%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-success" style="width: 95%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Laravel Integration <span class="label label-warning pull-right">50%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Back End Framework <span class="label label-primary pull-right">68%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
								</div>
						</a></li>
					</ul>
					<!-- /.control-sidebar-menu -->

				</div>
				<!-- /.tab-pane -->
				<!-- Stats tab content -->
				<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
				<!-- /.tab-pane -->
				<!-- Settings tab content -->
				<div class="tab-pane" id="control-sidebar-settings-tab">
					<form method="post">
						<h3 class="control-sidebar-heading">General Settings</h3>

						<div class="form-group">
							<label class="control-sidebar-subheading"> Report panel usage <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Some information about this general settings option</p>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Allow mail redirect <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Other sets of options are available</p>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Expose author name in posts <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Allow the user to show his name in blog posts</p>
						</div>
						<!-- /.form-group -->

						<h3 class="control-sidebar-heading">Chat Settings</h3>

						<div class="form-group">
							<label class="control-sidebar-subheading"> Show me as online <input type="checkbox" class="pull-right" checked>
							</label>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Turn off notifications <input type="checkbox" class="pull-right">
							</label>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Delete chat history <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
							</label>
						</div>
						<!-- /.form-group -->
					</form>
				</div>
				<!-- /.tab-pane -->
			</div>
		</aside>
		<div class="control-sidebar-bg"></div>
	</div>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<table id="table">
						<caption class="text-center">双击选择操作号</caption>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 搜索框（Modal） -->
	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
				</div>
				<div class="modal-body">在这里添加一些文本</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">提交更改</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>

	<!-- jQuery 3 -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<!-- AdminLTE App -->
	<script src="dist/js/adminlte.min.js"></script>
	<!-- bootstrap数据表格 -->
	<script type="text/javascript" src="../labelPrint/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../labelPrint/easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../labelPrint/js/opid.js"></script>
	<script type="text/javascript" src="bootstrap-table-develop/dist/bootstrap-table.js"></script>

	<script src="/labelPrint/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
	<script src="../labelPrint/js/layer/layer.js"></script>
	<script src="../labelPrint/js/validate/jquery.validate.min.js"></script>
	<script src="../labelPrint/js/validate/additional-methods.min.js"></script>
	<script src="../labelPrint/js/validate/messages_zh.js"></script>
	<script src="../labelPrint/js/validateForm.js"></script>
	<script th:inline="javascript">
		var tt = $('#tt');
		tt.tabs({    
		    border:false,    
		    width:"100%",
		    height:"100%",
		    onSelect:function(title){
		    }    
		});
		
	    var data = [{
	        text: '&nbsp&nbsp标签打印',
	        iconCls: 'fa fa-print fa-fw',
	        state: 'open',
	        children: [{
	            text: '空运标签'
	        },{
	            text: '派昂医药'
	        }]
	    }];
		$('#sm').sidemenu({
		    data: data,
		    onSelect:function(item){
		    	switch (item.text) {
				case "空运标签":
					if (tt.tabs('getTab',item.text) == null) {
						tt.data("type","air");
						openTabs(item.text);
					}else{
						tt.tabs('select',item.text);
					}
					break;
				case "派昂医药":
					if (tt.tabs('getTab',item.text) == null) {
						tt.data("type","medicine");
						openTabs(item.text);
					}else{
						tt.tabs('select',item.text);
					}
					break;
				default:
					break;
				}
		    	
		    },
		    width: "100%"
		});
		
		function openTabs(text){
			tt.tabs('add',{
				closable:true,//关闭图标
				justified:true,
				narrow:true,
				pill:true,
				href:"layout/west/label/",
				onLoad:function(panel){
					if (text == "空运标签") {
						$("#medicine").remove();
					}else if (text == "派昂医药") {
						$("#air").remove();
					}
				},
				title: text
			});
		   var  index = tt.tabs('tabs');
		   for (var i = 1; i < index.length-1; i++) {
			   tt.tabs('close',i)
			}
		}
	
		//页面加载完成后，判断该用户有几个操作号。如果有多个，则弹框让用户选择
		 var opids = eval('(' + [[${session.opids}]] + ')');
		 var opid1 =  [[${session.thisOpid}]];
		if (opids.rows.length>1) { //多个操作号
			$('#myModal').modal('show'); //显示模态框 切换操作号
		}else {
			//显示页头用户操作号，与用户信息
			$('#top_username').html(opids.rows[0].username);
			$('#top_opid').html(opids.rows[0].opid);
			//禁止点击”切换操作号“按钮
			$("#qhczh").removeAttr('data-target');
			$("#qhczh").html('无可切操作号');
			//判断用户权限，根据权限显示菜单
			$.ajax({
				url : "getOpidSecurity",
				type : 'POST',
				data : {
					opid : opids.rows[0].opid,
					username : opids.rows[0].username
				},
				success : function(result) {// 根据结果显示菜单
					var menu = result.split(",");
					$("#bqdy").hide();
					$("#xtgl1").hide();
					$("#menuFrame").hide();
					for (var i = 0; i < menu.length; i++) {
						if (menu[i] == "标签打印") {
							$("#bqdy").show();
							$("#bqdy").addClass("active");
							$("#menuFrame").show();
						}
						if (menu[i] == "系统管理") {
							$("#xtgl1").show();
							$("#bqdy").addClass("active");
						}
					}
				}
			});
		}
		function setBgs (){
			$.ajax({
				url : "/client/getThisRegion?opid="+opid1+"&code="+localStorage.getItem('ls'),
				type : 'POST',
				async:false,
				success : function(result) {
					var	rt = eval("("+result+")");
					$("#dq").text(rt.parent_name);
					$("#bgs1").text(rt.region_name);
				}
			});
		}
		
		//选中一个菜单，隐藏其他菜单
		function qh(menu) {
			if (menu == '标签打印') {
				$("#menuFrame").show();
				$("#xtgl").hide();
				$("#bqdy").addClass("active");
				$("#xtgl1").removeAttr("class");
			}
			if (menu == '系统管理') {
				$("#menuFrame").hide();
				$("#xtgl").show();
				$("#bqdy").removeAttr("class");
				$("#xtgl1").addClass("active");
			}
		}
		//刷新页面，清除缓存
		window.onbeforeunload= function(event) { 
			localStorage.clear();
			return true; 
		}
	</script>
</body>
</html>