<#include "/system/include.html" encoding="UTF-8" parse=true/>
<!DOCTYPE html>
<html lang="zh">
<head>
	<!-- 引入样式css -->
	<@commoncss title='添加办公室信息'/>
	<link rel="stylesheet" href="${request.contextPath}/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-region-add">
			<div class="form-group">
				<label class="col-sm-3 control-label ">上级区域：</label>
				<div class="col-sm-8">
				    <div class="input-group">
						<input class="form-control" type="text"  id="treeName"  name="parentName" value="${region.regionName!}" required>
					    <span class="input-group-addon"><i class="fa fa-search"></i></span>
				    </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">上级区域简码：</label>
				<div class="col-sm-8">
				    <div class="input-group">
						<input class="form-control" type="text" id="treeId" name="parentCode"  value="${region.regionCode!}" required>
					    <span class="input-group-addon"><i class="fa fa-search"></i></span>
				    </div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">办公室名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="regionName" id="regionName" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">办公室简码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="regionCode" id="regionCode" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">打印机名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="printerName" id="printerName" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">打印机IP：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="printerIp" id="printerIp" required>
				</div>
			</div>
			
		</form>
	</div>
		<!-- 引入通用js -->
	<@commonjs/>
	<script src="${request.contextPath}/js/admin/region.js"></script>
	<script src="${request.contextPath}/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
	<script src="${request.contextPath}/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.exhide-3.5.js"></script>
	<script  type="text/javascript">
	 
		//判断父级节点是否可编辑
		//var parentName = '${region.regionName}'; 
		var prefix = ctx + "/region";
		var parentName=$("#treeName").val();
		if($.common.isNotEmpty(parentName)){
			//不可以编辑
			$("#treeName").attr("readonly",true)//将input元素设置为readonly
			$("#treeName").attr("onclick","selectregionTree();");//将input元素onclick="selectregionTree()"
			$("#treeId").attr("readonly",true)//将input元素设置为readonly
		}else{
			$("#treeName").attr("lay-filter","tree");//将input元素onclick="selectregionTree()"
			var url=prefix+"/treeSelectRegionData";
			treeSelectClick('treeName',url,'get');
		}
		
		$("#form-region-add").validate({
			onkeyup: false,
			rules:{
				regionCode:{
					remote: {
		                url: prefix + "/checkregionCodeUnique", //校验字段唯一
		                type: "post",
		                async: false, //同步加载
		                dataType: "json",
		                data: {
		                	"regionCode": function() {
		                		//return $("input[name='regionCode']").val(); //取出办公室简码
		                		return $.common.trim($("#regionCode").val())
		                    }
		                	
		                },
		                dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
		                	return $.validate.unique(data); // 判断返回标识是否唯一 1->false 不存在   0->true 存在
		                }
		            }
				},
			  regionName:{
				  remote: {
		                url: prefix + "/checkregionCodeUnique", //校验字段唯一
		                type: "post",
		                async: false, //同步加载
		                dataType: "json",
		                data: {
		                	"parentCode": function() {
		                		return $.common.trim($("#treeId").val()); //取出父级简码
		                		
		                    },
		                	"regionName" : function() {
		                        return $.common.trim($("#regionName").val()); //取出办公室名称
		                    }
		                },
		                dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
		                	return $.validate.unique(data); // 判断返回标识是否唯一 1->false 存在不通过     0->true 不存在通过
		                }
		            }
			  },
			    parentName:{
				  remote: {
		                url: prefix + "/checkregionCodeUnique", //校验字段唯一
		                type: "post",
		                async: false, //同步加载
		                dataType: "json",
		                data: {
		                	"parentCode": function() {
		                		return $.common.trim($("#treeId").val()); //取出父级简码
		                    },
		                	"parentName" : function() {
		                		return $.common.trim($("#treeName").val());; //取出父级简码
		                    }
		                },
		                dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
		                	return $.validate.unique(data); // 判断返回标识是否唯一 1->false 存在不通过     0->true 不存在通过
		                }
		            }
			  },
			  parentCode:{
				  remote: {
		                url: prefix + "/checkregionCodeUnique", //校验字段唯一
		                type: "post",
		                async: false, //同步加载
		                dataType: "json",
		                data: {
		                	"parentCode": function() {
		                		return $.common.trim($("#treeId").val()); //取出父级简码
		                    },
		                	"parentName" : function() {
		                		return $.common.trim($("#treeName").val());; //取出父级简码
		                    }
		                },
		                dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
		                	return $.validate.unique(data); // 判断返回标识是否唯一 1->false 存在不通过     0->true 不存在通过
		                }
		            }
			  },
			  
			},
			messages: {
		        "regionCode": {
		            remote: "办公室简码已经存在"
		        },
		        "regionName": {
		            remote: $("#treeName").val()+"的办公室名称已经存在"
		        },
		        "parentCode": {
		            remote: "区域简码或名称已存在"
		        },
		        "parentName": {
		            remote: "区域名称或简码已存在"
		        }
		    },
		    focusCleanup: true
		});
		
		var treeNameId=undefined;
		
		//确定保存
		function submitHandler() {
	        if ($.validate.form()) {
	        	var param = $.common.formToJSON('form-region-add');
	        	 param.parentName = $("#"+treeNameId).val();
	        	region.saveOrUpdateRegion(prefix + "/saveOrUpdateRegion", param);
	        }
	    }
	
		/*办公室管理-新增-选择父部门树*/
		function selectregionTree() {
			var options = {
				title: '办公室选择',
				width: "380",
				url: prefix + "/selectregionTree/" + $("#treeId").val(),
				callBack: doSubmit //树形回调
			};
			$.modal.openOptions(options); //弹出tree.html
		}
		
		//选择树节点
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowLastLevel(tree)) { //判断不允许最后子节点选择
				var body = layer.getChildFrame('body', index);
	   			$("#treeId").val(body.find('#treeId').val());
	   			$("#treeName").val(body.find('#treeName').val());
	   			layer.close(index);
			}
		}
		
	function treeSelectClick(id,url,type){
		layui.use(["treeSelect",'form'], function () {
		    var treeSelect = layui.treeSelect;
		    var treeObj = undefined;
		    treeSelect.render({
		        // 选择器
		        elem: '#'+id,
		        // 数据
		        //data: prefix+'/treeAllRegionData',
		        data: url,
		        // 异步加载方式：get/post，默认get
		        type: type,
		        // 占位符
		        placeholder: '请输入或选择办公区域',
		        // 是否开启搜索功能：true/false，默认false
		        search: true,
		        // 一些可定制的样式
		        style: {
		            folder: { // 父节点图标
		                enable: true // 是否开启：true/false
		            },
		            line: { // 连接线
		                enable: true // 是否开启：true/false
		            }
		        },
		        // 点击回调
		        click: function(d){
		            console.log(d);
		            console.log(d.treeId); // 得到组件的id "layui-treeSelect-1584582865735"
		            console.log(d.current); // 得到点击节点的treeObj对象
		            console.log(d.data); // 得到组成树的数据
		            var res = $.common.split(d.treeId,'-');
		            res
		            var treeId = 'layui-treeSelect-body-'+res[2], //   layui-treeSelect-body-1584582865735
		            treeObj = $.fn.zTree.getZTreeObj(treeId);
		            
		            if(notAllowLastLevel(treeObj)){
			            $("#treeId").val(d.current.id);
			   			$("#treeName").val(d.current.name);
		            }
		        },
		        // 加载完成后的回调函数
		        success: function (d) {
		            console.log(d);
		            var res = $.common.split(d.treeId,'-');
		            treeNameId = 'treeSelect-input-'+res[2]; //treeSelect-input-1586258453637 获取iput框的id
//		                选中节点，根据id筛选
		     // treeSelect.checkNode('tree', 'xidun');
//		                获取zTree对象，可以调用zTree方法 该方法应保证在渲染完成后再执行
		          // treeObj = treeSelect.zTree('tree');
		           //console.log(treeObj);
//		                刷新树结构
		           //treeSelect.refresh('tree');
		        }
		    });
		});
		
		function notAllowLastLevel (_tree) {
		    var nodes = _tree.getSelectedNodes(); //获取所有选择的节点
		    for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].children.length==0) {
		    		$.modal.msgError("不能选择最后层级节点（" + nodes[i].name + "）");
		            return false;
		        }
		    }
    		return true;
    	}
		
	}
	
		
		
	</script>
</body>
</html>
