<#include "/system/include.html" encoding="UTF-8" parse=true/>
<!DOCTYPE html>
<html lang="zh">
<head>
	<!-- 引入样式css -->
	<@commoncss title='编辑办公室信息'/>
	<link rel="stylesheet" href="${request.contextPath}/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-region-edit" >
		
			<div class="form-group">
				<label class="col-sm-3 control-label ">上级区域名称：</label>
				<div class="col-sm-8">
				    <div class="input-group">
						<input class="form-control" type="text" id="treeName" name="parentName"  value="${region.parentName!}" onclick="selectregionTree()" readonly="true" >
					    <span class="input-group-addon"><i class="fa fa-search"></i></span>
				    </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">上级区域简码：</label>
				<div class="col-sm-8">
				    <div class="input-group">
						<input class="form-control" type="text" id="treeId" name="parentCode"  value="${region.parentCode!}" readonly="true" >
					    <span class="input-group-addon"><i class="fa fa-search"></i></span>
				    </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">办公室名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="regionName"  name="regionName" value="${region.regionName!}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">办公室简码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="regionCode" value="${region.regionCode!}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">打印机名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="printerName" value="${region.printerName!}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">打印机IP：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="printerIp" value="${region.printerIp!}">
				</div>
			</div>
			
		</form>
	</div>
			<!-- 引入通用js -->
	<@commonjs/>
	<script src="${request.contextPath}/js/admin/region.js"></script>
	<script src="${request.contextPath}/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
	<script src="${request.contextPath}/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.exhide-3.5.js"></script>
	<script  type="text/javascript">
	 
	var prefix = ctx + "/region";
		
		$("#form-region-edit").validate({
				onkeyup: false,
				rules:{
					regionCode:{
						remote: {
			                url: prefix + "/checkregionCodeUnique", //校验字段唯一
			                type: "post",
			                async: false, //同步加载
			                dataType: "json",
			                data: {
			                	"regionCode": function() {
			                		//return $("input[name='regionCode']").val(); //取出办公室简码
			                		return $.common.trim($("#regionCode").val())
			                    }
			                	
			                },
			                dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
			                	return $.validate.unique(data); // 判断返回标识是否唯一 1->false 不存在   0->true 存在
			                }
			            }
					},
				  regionName:{
					  remote: {
			                url: prefix + "/checkregionCodeUnique", //校验字段唯一
			                type: "post",
			                async: false, //同步加载
			                dataType: "json",
			                data: {
			                	"parentCode": function() {
			                		return $.common.trim($("#treeId").val()); //取出父级简码
			                		
			                    },
			                	"regionName" : function() {
			                        return $.common.trim($("#regionName").val()); //取出办公室名称
			                    }
			                },
			                dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
			                	return $.validate.unique(data); // 判断返回标识是否唯一 1->false 存在不通过     0->true 不存在通过
			                }
			            }
				  },
				    parentName:{
					  remote: {
			                url: prefix + "/checkregionCodeUnique", //校验字段唯一
			                type: "post",
			                async: false, //同步加载
			                dataType: "json",
			                data: {
			                	"parentCode": function() {
			                		return $.common.trim($("#treeId").val()); //取出父级简码
			                    },
			                	"parentName" : function() {
			                		return $.common.trim($("#treeName").val());; //取出父级简码
			                    }
			                },
			                dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
			                	return $.validate.unique(data); // 判断返回标识是否唯一 1->false 存在不通过     0->true 不存在通过
			                }
			            }
				  },
				  parentCode:{
					  remote: {
			                url: prefix + "/checkregionCodeUnique", //校验字段唯一
			                type: "post",
			                async: false, //同步加载
			                dataType: "json",
			                data: {
			                	"parentCode": function() {
			                		return $.common.trim($("#treeId").val()); //取出父级简码
			                    },
			                	"parentName" : function() {
			                		return $.common.trim($("#treeName").val());; //取出父级简码
			                    }
			                },
			                dataFilter: function(data, type) { //后台返回0 不存在    返回1 存在
			                	return $.validate.unique(data); // 判断返回标识是否唯一 1->false 存在不通过     0->true 不存在通过
			                }
			            }
				  },
				  
				},
				messages: {
			        "regionCode": {
			            remote: "办公室简码已经存在"
			        },
			        "regionName": {
			            remote: $("#treeName").val()+"的办公室名称已经存在"
			        },
			        "parentCode": {
			            remote: "区域简码或名称已存在"
			        },
			        "parentName": {
			            remote: "区域名称或简码已存在"
			        }
			    },
			    focusCleanup: true
			});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	var param = $.common.formToJSON('form-region-edit');
	        	region.saveOrUpdateRegion(prefix + "/saveOrUpdateRegion", param);
	        }
	    }
	
		/*部门管理-修改-选择部门树*/
		function selectregionTree() {
			var regionCode = $("#treeId").val();
			    var options = {
					title: '区域选择',
					width: "380",
					url: prefix + "/selectregionTree/" + regionCode,
					callBack: doSubmit
				};
				$.modal.openOptions(options);
		}
		
		//树形节点点击后回调函数赋值
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowLastLevel(tree)) { //判断不允许最后子节点选择
	   			var body = layer.getChildFrame('body', index);
	   			$("#treeId").val(body.find('#treeId').val());
	   			$("#treeName").val(body.find('#treeName').val());
	   			layer.close(index);
			}
		}
	</script>
</body>
</html>
